/* znaczniki globalne */

i, em{
  font-style: italic;
}

b{
  font-weight: 500;
}

a{
  color: #666;
}

sup{
  vertical-align: baseline;
  position: relative;
  top: -0.6em;
  font-size: 0.7em;
  color: #888;
}

img{
  max-width: 100%;
}

.center{
  text-align: center;
}

/* body */

body{
  background-color: #FFF;
  font-family: "Fira Sans", serif;
  color: #222;
  line-height: 1.45em;
}

/* wrapper */

#wrapper{
  max-width: 45em;
  margin: 5em auto;
  padding: 0 3em;
}

/* main-header */

#main-header{
  margin-bottom: 1em;
}

#main-header h1{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#main-header h2{
  margin-bottom: 1em;
  color: #888;
}

#main-header h3{
  padding-bottom: 1.25em;
  border-bottom: 0.1em solid #EEE;
}

/* main-nav */

#main-nav section{
  border: 0.1em solid #EEE;
  border-radius: 0.6em;
  padding: 1.25em 1.25em 0.25em 1.25em;
  margin-bottom: 1em;
  background-color: #F8F8F8;
}

#main-nav section h3{
  margin-bottom: 1.25em;
  text-align: center;
  color: #222;
}

#main-nav section p{
  margin-bottom: 1.25em;
  font-size: 0.9em;
  padding: 0 1.25em;
  color: #888;
}

#main-nav ul li{
  background-color: #FFF;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  border: 0.1em solid #EEE;
  border-radius: 0.6em;
  padding: 1.25em;
  margin-bottom: 1em;
}

#main-nav ul li > dl{
  flex: 1;
  margin-right: 1.25em;
}

#main-nav ul li > dl dt{
  font-weight: bold;
  margin-bottom: 0.5em;
}

#main-nav ul li > dl dd {
  font-size: 0.8em;
  color: #888;
}

#main-nav ul li > a{
  display: inline-block;
}

/* main-footer */

#main-footer{
  border-top: 0.1em solid #EEE;
  padding: 1.25em 0;
  font-size: 0.8em;
  color: #888;
}

#main-footer p{
  margin-bottom: 1em;
}

/* treść */

article{
  counter-reset: section;
  counter-reset: subsection;
}

article#cw01{ counter-reset: cwiczenia 1; }
article#cw02{ counter-reset: cwiczenia 2; }
article#cw03{ counter-reset: cwiczenia 3; }
article#cw04{ counter-reset: cwiczenia 4; }
article#cw05{ counter-reset: cwiczenia 5; }
article#cw06{ counter-reset: cwiczenia 6; }
article#cw08{ counter-reset: cwiczenia 8; }
article#cw09{ counter-reset: cwiczenia 9; }
article#cw10{ counter-reset: cwiczenia 10; }
article#cw11{ counter-reset: cwiczenia 11; }
article#cw12{ counter-reset: cwiczenia 12; }
article#cw13{ counter-reset: cwiczenia 13; }

article h1{
  counter-increment: section;
  counter-reset: subsection;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

article h2{
  counter-increment: subsection;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

article h1::before,
article h2::before{
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: #EEE;
  text-align: right;
}

article h1::before{
  content: counter(cwiczenia) "." counter(section);
  width: 3em;
  margin-right: 1em;
  margin-left: -5em;
}

article h2::before{
  content: counter(cwiczenia) "." counter(section) "." counter(subsection);
  width: 4em;
  margin-right: 1.25em;
  margin-left: -6.25em;
}

article p{
  margin-bottom: 1em;
}

article p.footnote{
  font-size: 0.8em;
  line-height: 1.25em;
}

article ul,
article ol{
  margin-left: 2em;
  margin-bottom: 1.25em;
  list-style-type: circle;
}

article ul li,
article ol li{
  margin-bottom: 0.5em;
}

article .exercise,
article .task,
article .command,
article .example,
article .howitworks,
article .titbit,
article .notice{
  padding: 1.25em 1.25em 0.25em 1.25em;
  border-radius: 0.6em;
  margin-bottom: 1em;
}

article .exercise{
  border: 0.1em solid #EEE;
  counter-increment: cwiczenie;
  background-color: #FCFCFC;
}

article .task{
  border: 0.1em solid #EEE;
  counter-increment: zadanie;
  background-color: #FCFCFC;
}

article .howitworks,
article .command,
article .example{
  border: 0.1em solid #caeaf0;
  background-color: #f4fafc;
}

article .titbit{
  border: 0.1em solid #caeaf0;
  background-color: #f4fafc;
}

article .notice{
  border: 0.25em solid #CC3333;
  background-color: #FCFCFC;
}

article .exercise::before,
article .task::before,
article .command::before,
article .example::before,
article .answer::before,
article .howitworks::before,
article .titbit::before,
article .notice::before{
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}

article .exercise::before{ content: "Ćwiczenie " counter(cwiczenia) "." counter(cwiczenie); }
article .exercise-star::before{ content: "\2605  Ćwiczenie " counter(cwiczenia) "." counter(cwiczenie); }
article .exercise-star-star::before{ content: "\2605\2605  Ćwiczenie " counter(cwiczenia) "." counter(cwiczenie); }
article .task::before{ content: "Zadanie " counter(zadanie); }
article .command::before{  content: "Polecenie"; }
article .example::before{  content: "Przykład"; }
article .answer::before{  content: "Odpowiedź"; }
article .howitworks::before{  content: "Jak to działa?"; }
article .howitworks-star::before{ content: "\2605  Jak to działa?"; }
article .titbit::before{ content: "Ciekawostka"; }
article .titbit-star::before{ content: "\2605  Ciekawostka"; }
article .titbit-star-star::before{ content: "\2605\2605  Ciekawostka"; }
article .notice::before{  content: "Uwaga"; }

article .test{
  background-color: #F8F8F8;
  margin-bottom: 1em;
  padding: 1.25em 1.25em 0.25em 1.25em;
  border-left: 1em solid #ffcc00;
  border-right: 1em solid #ffcc00;
}

article .exercise .answer,
article .test .question{
  display: none;
}

article .test .question ul{
  font-size: 0.9em;
  list-style-type: none;
}

article .test .question input{
  float: left;
}

article .test .question label{
  display: block;
  margin-left: 1.75em;
}

article .test .question li.correct,
article .test .question li.incorrect{
  color: #FFF;
  margin-left: -1em;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

article .test .question li.correct code,
article .test .question li.incorrect code{
  color: #222;
}

article .test .question li.incorrect{ background-color: #a02c2c; }
article .test .question li.correct{ background-color: #5aa02c; }

article code{
  font-family: "Fira Mono";
  background-color: #FFF;
  border: 0.1em solid #DDD;
  padding: 0.15em 0.25em;
}

article pre code{
  display: block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5em;
  background-color: transparent;
  border: none;
  font-size: 0.9em;
}

article kbd{
  -moz-border-radius: 0.3em;
  -moz-box-shadow: 0 0.1em 0 rgba(0,0,0,0.2),0 0 0 0.2em #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0.1em 0 rgba(0,0,0,0.2),0 0 0 0.2em #fff inset;
  background-color: #f7f7f7;
  border: 0.1em solid #ccc;
  border-radius: 0.3em;
  box-shadow:0 0.1em 0 rgba(0,0,0,0.2),0 0 0 0.2em #fff inset;
  color: #333;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  line-height: 1.4em;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 0.1em 0 #fff;
  font-size: 0.85em;
  vertical-align: top;
}

article pre{
  margin-bottom: 1em;
  font-family: "Fira Mono";
  border: 0.1em solid #EEE;
  border-radius: 0.6em;
  padding: 0.6em;
  background-color: #FFF;
}

article table{
  margin: 0 auto;
  font-size: 0.9em;
  margin-bottom: 1em;
  border-top: 0.1em solid #DDD;
  border-right: 0.1em solid #DDD;
  max-width: 100%;
}

article table th,
article table td{
  border-left: 0.1em solid #DDD;
  border-bottom: 0.1em solid #DDD;
  padding: 0.5em;
}

article table th{
  background-color: #EEE;
  text-align: center;
}

article table tbody th{
  text-align: center;
  background-color: transparent;
  color: #666;
}

article table.noborder{
  margin: 0;
  margin-bottom: 1em;
}

article table.noborder,
article table.noborder th,
article table.noborder td{
  border: none;
  background-color: none;
}

article table.noborder th{
  font-weight: bold;
}

article .image{
  padding: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}

article .image img{
  width: 65%;
}

/* klasy ogólne */

.button{
  font-size: 0.8em;
  display: inline-block;
  text-decoration: none;
  background-color: #FFF;
  border: 0.1em solid #EEE;
  color: #444;
  text-align: center;
  padding: 0.4em 1em;
  border-radius: 0.35em;
  transition-property: all;
  transition-duration: 0.5s;
  transform-timing-function: linear;
  font-family: "Oxygen", sans-serif;
}

.button:hover{
  background-color: #EEE;
}

.button.button-blue{
  background-color: #0088aa;
  border: 0.1em solid #006680;
  color: #FFF;
}

.button.button-blue:hover{
  background-color: #00aad4;
  border-color: #00aad4;
}

.button.button-grey{
  background-color: #EEE;
  border: 0.1em solid #DDD;
  color: #666;
}

.button.button-grey:hover{
  background-color: #DDD;
  border-color: #DDD;
}

.button.button-gold{
  background-color: #ffe270;
  border: 0.1em solid #ffcc00;
  color: #222;
}

.button.button-gold:hover{
  background-color: #ffcc00;
  border-color: #ffcc00;
}

.button.disabled,
.button.disabled:hover{
  background-color: #EEE;
  border: 0.1em solid #DDD;
  color: #BBB;
  pointer-events: none;
  cursor: default;
}

/* responsywność */

@media all and (max-width: 64em){
  article h1,
  article h2{
    line-height: 1.25em;
  }

  article h1::before,
  article h2::before{
    line-height: 1em;
    display: inline-block;
    margin-left: 0;
    padding: 0;
    width: auto;
    margin-right: 1em;
    background-color: transparent;
  }
}

@media all and (max-width: 40em){
  #wrapper{
    padding: 0 1.5em;
  }

  #main-nav ul li{
    display: block;
  }

  #main-nav ul li > dl{
    margin-bottom: 1em;
    margin-right: 0;
  }
}

@media print{
  body{
    font-size: 0.7em;
  }

  #main-header{
    margin-bottom: 1cm;
  }

  #main-header h3,
  .test,
  .answer,
  .button{
    display: none !important;
  }

  h1, h2, h3, h4, h5, h6,
  article .exercise::before,
  article .exercise-star::before,
  article .exercise-star-star::before,
  article .task::before,
  article .command::before,
  article .example::before,
  article .answer::before,
  article .howitworks::before,
  article .howitworks-star::before,
  article .titbit::before,
  article .titbit-star::before,
  article .titbit-star-star::before,
  article .notice::before,
  {
    page-break-after: avoid;
  }
}

@page{
  size: A4;
  margin: 25mm;
}
